<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="AppleTitle" content="{{title}}">
  <meta name="AppleIcon" content="shared/icon-32.png">
  <title>{{title}}</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  {{body}}
</body>
</html>
