<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleIdentifier</key>
  <string>rocks.moolah.app.help</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Moolah Help</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleSignature</key>
  <string>hbwr</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>HPDBookTitle</key>
  <string>Moolah Help</string>
  <key>HPDBookAccessPath</key>
  <string>welcome.html</string>
  <key>HPDBookIconPath</key>
  <string>shared/icon-32.png</string>
  <key>HPDBookIndexPath</key>
  <string>Moolah.helpindex</string>
  <key>HPDBookCSIndexPath</key>
  <string>Moolah.cshelpindex</string>
  <key>HPDBookKBProduct</key>
  <string>rocks.moolah.app</string>
  <key>HPDBookType</key>
  <string>3</string>
</dict>
</plist>
