<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSPrivacyPolicyURL</key>
    <string>https://moolah.rocks/privacy</string>
    <key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.rocks.moolah.app.v2</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key>
            <false/>
            <key>NSUbiquitousContainerSupportedFolderLevels</key>
            <string>None</string>
            <key>NSUbiquitousContainerName</key>
            <string>Moolah</string>
        </dict>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
        <key>UIImageName</key>
        <string>LaunchLogo</string>
        <key>UIImageRespectsSafeAreaInsets</key>
        <true/>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MoolahCloudKitEnvironment</key>
    <string>$(CLOUDKIT_ENVIRONMENT)</string>
    <key>MoolahCloudKitContainer</key>
    <string>$(CLOUDKIT_CONTAINER_ID)</string>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.moolah.continue</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>rocks.moolah.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>moolah</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
